[submodule "themes/natrium"]
	path = themes/natrium
	url = https://github.com/mobybit/hugo-natrium-theme.git
[submodule "themes/hugo-chlorine-theme"]
	path = themes/hugo-chlorine-theme
	url = https://github.com/AnnaOpss/hugo-chlorine-theme.git
